{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}
<div class="card bg-dark text-white">
  <img src="https://images.unsplash.com/photo-1528747045269-390fe33c19f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h1 class="card-title">Contact Us</h1>
    <br><p class="card-text"><b>Helpline numbers:</b>
<br>5464576434<br>
1879311654
<br><br>
<b>contact administration:</b>
<br>Vinayak Palve:
8766571832
<br>Akshay Pawar:
7218446148
<br><br>
<b>Follow us on:</b><br>
https://instagram.com/vinnayak07?utm_medium=copy_link</p>
    <p class="card-text">Last updated</p>
  </div>
</div>
{% endblock body %}
