{% extends 'base.html' %}

{% block title %}Registration{% endblock title %}

{% block body %}
<Body background="https://images.unsplash.com/photo-1614496281665-1b7f456cfddf?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8QmxhY2t8fHx8fHwxNjI5Nzc3MTkz&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600">
<font color = "white">
<div class ="container">
<br><br>
<form class="row g-3" method="post" action="/userReg">
{% csrf_token %}

  <h1 class="h3 mb-3 fw-normal"><center>Please sign up</center></h1>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4", name='email' autofocus required>
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4" name='password' required>
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress" name='address' placeholder="1234 Main St" required>
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" name='address2' placeholder="Apartment, studio, or floor" required>
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity" name='city' required>
  </div>
  <!--<div class="col-md-4">
    <label for="inputState" class="form-label">State</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>Maharashtra</option>
    </select>
  </div>-->
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="inputZip" name='zip' required>
  </div>
  {% comment %} <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div> {% endcomment %}
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign up</button>
    &nbsp<input class="btn btn-primary" type="reset" value="Reset">
  </div>
</form>

</div>
</font>
{% endblock body %}



